.cart-count-link{
   position: relative;
}

.cart-count{
  width:auto;
  height:22px;
  position: absolute;
  top:8px;
  right:39px;
  color:white;
  font-size:14px;
}

.cart-icon{
  font-size:38px;
   opacity:0.7;
   color:red;
}

.cart-icon-add{
  font-size:30px;
  color:chartreuse
}

@media screen and (max-width:992px) {
  .cart-count{
    top:8px;
    left:17px;
  }

  
}